body{
    background-color: #c8c3bdd7;
}

#tb1
{
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: linear-gradient(145deg, #c2b2b2ca, #c2b6b6ce);
    padding-left:15px ;
    box-shadow: inset 3px 3px 10px rgba(209, 204, 204, 0.637), inset -3px -3px 10px rgba(255, 255, 255, 0.3);
}

#row{
    display: flex;
    width: 20%;
    background: linear-gradient(145deg, #7D7D7D, #958e8e);
    flex-direction: row;
    position: relative;
    left: 250px;
    top: 50px;
    box-shadow: 1px 1px 0px rgba(197, 172, 172, 0.739), -1px -1px 0px rgba(255, 255, 255, 0.3);
    border: none;

}

#row .col{
    width: 100%;
    padding: 10px;
}

.col input{
    position: relative;
    width: 100%;
    height: 80px;

}
.col button{
    width: 100%;
    height: 58px;
    border-radius:100px;
    background: linear-gradient(145deg, #d1c2c2c0, #706969);
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgba(228, 227, 227, 0.856), -2px -2px 4px rgba(255, 255, 255, 0.3);
            border: none;
    color:white;
    font-size: 24px;
    font-weight: bold;
}

.col button:focus{
    transition: 1s;
    box-shadow: inset 3px 3px 6px rgba(129, 126, 126, 0.623), inset -3px -3px 6px rgba(255, 255, 255, 0.3);}

#btn_0{
    width: 131px;
    border-radius: 40px;
}
#btn_Div{
    color: rgb(8, 8, 8);
    font-size: 25px;
}
#btn_Multi{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#btn_sub{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#btn_sum{
    color: rgb(0, 0, 0);
    font-size: 25px;
}

#btn_equal{
    color: rgb(0, 0, 0);
    font-size: 25px;
}
